@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicle and Dealer Management System</h1>
    <p class="lead">This is a free platform for managing customer, vehicle, dealer and mechanic data for your firm.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Customer Details</h2>
        <p>
            Here you can manage all the data related to your customers.
        </p>
        @Html.ActionLink("Customer Master", "Index", "Customer", null, new { @class = "btn btn-default" });
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-3">
        <h2>Vehicle Details</h2>
        <p>
            Here you can manage details related to the vehicles of customers.
        </p>
        @Html.ActionLink("Vehicle Master", "Index", "Vehicle", null, new { @class = "btn btn-default" });
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-3">
        <h2>Dealer Details</h2>
        <p>
            Here you can manage all your dealers of different vehicles.
        </p>
        @Html.ActionLink("Dealer Master", "Index", "Dealer", null, new { @class = "btn btn-default" });
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-3">
        <h2>Mechanic Details</h2>
        <p>
            Here you can manage data realted to mechanics the dealers have.
        </p>
        @Html.ActionLink("Mechanic Master", "Index", "Mechanic", null, new { @class = "btn btn-default" });
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
</div>